@import url(font url);
@font-face {
    font-family: 'rajdhani' ;
    src: url();
}
:root{ 
    --yellow-color: #FFFF00;
    --yellow-light: #F8F184;
    --blue-color: #19587D;
    --white-color: #fffffffb;
    --gradient-white: #eddebf44;
    --gradient-red: #89000936;
    --black-color: #000;
}
*{ margin: 10px;
padding:0 ;
box-sizing: border-box;
}
h1 { 
    font-family: 'rajdhani';
    font-size: 36px;
    font-weight: 400;
}
button {
    font-family: 'rajdhani' ;
    font-size: 20px;
    font-weight: 400;
}
.container{ 
    width: 80%;
    margin: 0 auto;
}
body{ 
    background-color: black;
    color: white;
    font-family: 'Space-Grotesk';
    font-weight: 300;
}
.up-bar{
    border-top: #727272 2px solid;
   position: relative;
   top: 132px;
   width: 77%;
   left: 102px;
}
.left-bar{
    border-left: #727272 2px solid;
    position: absolute;
    
}
/*Design of navigation */
nav{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;    
}
ul{
    list-style: none;
    display: flex;
}
nav ul a{
    color: var(--white-color);
    font-size: 25px;
    font-weight: 500;
    font-family: 'rajdhani';
}

nav ul a:hover{
    color: var(--yellow-color);    
}
.logo:hover{ 
    filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg);
}
/*Design of header hero */
#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/*Design of section batman-personnage */
#batman-cinema{
    margin-top: 60px;
}
#batman-cinema .titre{
    text-transform:uppercase;
    font-weight: bold;
    margin: 30px 0;
}
#batman-cinema .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 100%;
    font-size: ;
}
.batman-personnage{
    display: flex;
    justify-content:space-between ;
}
#batman-cinema .batman-info{
    text-align: center;
}

/*Design of section batman-nemesis */

.batman-nemesis{
    display: flex;
    justify-content:space-between ;
}
#batman-nemesis .titre{
    text-transform:uppercase;
    font-weight: bold;
    margin: 30px 0;
}
#batman-nemesis .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 100%;
    font-size: ;
}
#batman-nemesis .nemesis-info{
    text-align: center;
}
/*Design of section batman-allies */

.batman-allies{
    display: flex;
    justify-content:space-between ;
}
#batman-allies .titre{
    text-transform:uppercase;
    font-weight: bold;
    margin: 30px 0;
}
#batman-allies .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 100%;
    font-size: ;
}
#batman-allies .allies-info{
    text-align: center;
}
/*Design of section justice league */
.batman-justice{
    display: flex;
    justify-content:space-between ;
}
#batman-justice .titre{
    text-transform:uppercase;
    font-weight: bold;
    margin: 30px 0;
}
#batman-justice .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 100%;
    font-size: ;
}
/*Design of section multimedia slider */
#multimedia .slider-media{
    display: flex;
    width:60%;
    margin: 20%;
    justify-content: baseline;
}
#multimedia .slider-image{
    width: 100%;
}
#multimedia .slider-content{
    padding: 0;
    background-color: rgb(151, 143, 143);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#multimedia p{
    font-size: 14px;
}
#multimedia button {
    position: relative;
    top: 350px;
    background:none;
    border: none;

}
#multimedia button.right {
    right: -85%;

}
#multimedia .yellow{
    color: var(--yellow-color);
}
/*Design of section content */

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}
.social-network{ 
    display: flex;
    justify-content: left;
    flex-direction: column;
    
}
#hero .title{
    margin: 20px 0;
}
.btn{ 
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 20px;
    margin-top: 10px;
    background: linear-gradient(
        80deg, var(--gradient-white), var(--gradient-red)
    ) ;
    box-shadow: var(--black-color) 5px 5px 60px;
}
#hero .arrow{
    display: block;
    margin: 0 auto;
    margin-top: 300px;
}
.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 100px;
    top: 200px;
}
/*Design of section contact */
#contact {
    background-color: darkslategray;
    padding: 70px 0;
}
#invalid{
    font-style: italic;
}
#contact .form{
    width: 50%;
    margin: 0 auto;
}
#contact h1{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 40px;
}
#contact .titre{
    display: block;
}
#contact .form input[type='Address email'], textarea {
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    border-bottom: 2px solid darkgray;
    background-color: transparent;
}
#contact .icon img{ 
    transform: rotate(90deg);
    width: 20px;
}
#contact .news{
    margin-top: 15px;
    border-bottom: 2px solid darkgray;
    width: 100%;
}
::placeholder{
    color: #F8F184;
    font-size: 15px;
}
.btn-group {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.form input[type='radio'] {
    opacity: 0;
}
.btn-group label{
    cursor: pointer;
    padding: 10px;
    border: 2px solid darkgrey;
    border-image: linear-gradient(69deg, red, blue) 1;
    font-size: 20px;
}
input[type='submit'] {
    display: block;
    width: 50%;
    margin: 25px;
    padding: 20px;
    cursor: pointer;
}
#replique {
    margin: 90px;
}
#replique .quote-item {
    text-align: center;
    width: 100%;
    margin: o auto;
}
#replique .quote-author {
    font-size: 10px;
    font-weight: bold;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
#replique .quote-close{ 
    float: right;
}
/*Design of section footer */
footer {
    margin-top: 200px;
}
footer .text-footer {
    text-align: center;
}
footer .social-footer {
    text-align: center;
    margin-top: 50px;
}
@media screen and (max-width:700px){
    body{
        background-color: #727272;
    }
}
/*Design of popupbox */
.popupbox{
    background: linear-gradient(
        143deg,
        rgba(237, 222, 191, 0.4),
        rgba(25, 88, 125, 0.4) 80%
    );
    width: 50%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 300px;
    left: 300px;
    border-radius: 50px;
    display:block;

}
.inside{
    padding: 50px;
    margin: 30px;
    background-color: blue;
    border-radius: 50px;
    box-shadow: 2px 2px 40px black;
}
.inside h1{
    text-align: center;
}